.header_logo_font{
  color: yellow;
  text-shadow: 1px 1px 2px blue, -1px -1px 2px blue, -1px 1px 2px blue, 1px -1px 2px blue;
  font-family: cursive;
  font-size: 22px;
}

.header_container{
  text-align: center;
  
}

.header_links{
  display: flex;
  justify-content: space-evenly;
}

.userarea_container{
  
  background-color: rgba(202, 212, 113, 0.603);
}

.login_form{
  display: flex;
  justify-content: center;
  margin-left: 50;
  padding-top: 15%;
  
}
.login_credentials{
  background-color: rgba(202, 212, 113, 0.603);
  width: 25%;
}


.login_button {
  padding: 5px 50px;
  font-size: 12px;
  text-align: center;
  cursor: pointer;
  outline: none;
  background-color: rgba(202, 212, 113, 0.603);
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 3px #999;
}

.login_button:hover {background-color: #3e8e41}

.login_button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.game_logo{
  background-color: transparent;
  border: none;
}

.dex_title{
  text-align: center;
}

.table-responsive-sm{
  margin-left: 100px;
  margin-right: 100px;
}